*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	background: #00B4DB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #0083B0, #00B4DB, #0083B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

span.divider{
	display: block;
	border-top: 5px solid black;
	width: 600px;
	height: 5px;
	margin: auto;
	margin-top: 2rem;
}